.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 2rem;
  position: sticky;
  top: 0;
  height: 100vh;
  width: fit-content;
}

.sidebar--item {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: fit-content;
}
