.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  border-radius: 2rem;
  overflow: clip;
}

.card--image,
.card--body {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.card--image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/2;
}

.card--body {
  display: flex;
  justify-content: space-around;
  align-self: end;
  background-color: rgba(0, 0, 0, .4);
  color: #f3f3f3;
  padding: 1rem;
}

.card--icon {
  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;
  border-radius: 5rem;
}

.card--location,
.card--date {
  display: flex;
  align-items: center;
  gap: .3rem;
}
