.base {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
  font-family: Roboto, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.screen {
  display: flex;
  min-height: 100dvh;
}

.content {
  flex-grow: 1;
  display: grid;
}