.base {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
  font-family: Roboto, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.palette {
  --md-sys-color-secondary: if(media(prefers-color-scheme: dark): #ffb2bf; else: #ab2f53);
  --md-sys-color-on-secondary: if(media(prefers-color-scheme: dark): #660027; else: #ffffff);
  --md-sys-color-secondary-container: if(media(prefers-color-scheme: dark): #8a133c; else: #ffd9de);
  --md-sys-color-on-secondary-container: if(media(prefers-color-scheme: dark): #ffd9de; else: #3f0016);
}

.screen {
  display: flex;
  min-height: 100dvh;
}

.content {
  flex-grow: 1;
  display: grid;
}
