.hobbies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 4vw;
}

.hobbies--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  gap: 2rem;
  padding-inline-end: 2vw;
}

.grid--column--1 {
  grid-column: span 1;
}

.grid--column--2 {
  grid-column: span 2;
}

.grid--row--1 {
  grid-row: span 1;
}

.grid--row--2 {
  grid-row: span 2;
}


@media only screen and (max-width: 43rem) {
  .grid--column--2 {
    grid-column: span 1;
  }

  .grid--row--2 {
    grid-row: span 1;
  }
}
