.card {
  --m3e-card-shape: 1.5rem;
  --m3e-card-padding: 0;
  width: fit-content;
}

.header {
  overflow: hidden;
  border-top-left-radius: var(--m3e-card-shape);
  border-top-right-radius: var(--m3e-card-shape);
}

.img {
  width: fit-content;
  height: 25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.footer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.media {
  width: var(--size, 1em);
  height: var(--size, 1em);
  color: var(--m3e-card-text-color);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.container:is(.section) {
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description {
  max-width: 80ch;
  --md-sys-typescale-label-medium-line-height: 1.5rem;
}
