.card {
  --m3e-filled-card-container-color: #8a133c;
  --m3e-card-shape: 1.5rem;
  width: fit-content;
}

.img {
  width: fit-content;
  height: 30rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
