.content {
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 4rem);
  /* justify-content: space-around; */
  justify-content: space-between;
}

.disabled {
  flex-grow: 0;
}

.nav {
  --m3e-nav-bar-container-color: #0b467e;
}

.nav--group {
  display: flex;
  flex-direction: column;
}
