.content {
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  /* justify-content: space-around; */
  justify-content: space-between;
}

.disabled {
  flex-grow: 0;
}

.nav {
  --m3e-nav-bar-container-color: #0b467e;
  --m3e-nav-rail-compact-width: 4rem;
}

.group {
  display: flex;
  flex-direction: column;
}
