.content {
  align-items: center;
}

.profile {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.container {
  justify-content: space-between;
}

.nav {
  --m3e-nav-rail-compact-width: 4rem;
  min-width: fit-content;
}

.nav[color="primary"] {
  --m3e-nav-bar-container-color: var(--md-sys-color-inverse-primary);
}

m3e-nav-item {
  --m3e-nav-item-active-container-color: none;
}
